.DS_Store
.RData
.RHistory
/AgeIncidence/
/Ancestors/
/AnnualIncidence/
/ClusterSizePatterns/
/HouseholdMixing/
/HousholdMixing/
/LowFrequency/
/NonSequenceData/
/Persistence/
/Questionnairs/
/SourceLocation/
/Subtypes/
