.DS_Store
.RData
.RHistory
/AgeIncidence/
/AgeMixing/
/Ancestors/
/AnnualIncidence/
/Clusters/
/ClusterSizePatterns/
/Connections/
/EvolutionaryRates/
/HouseholdMixing/
/HousholdMixing/
/Introductions/
/LocalClusters/
/LowFrequency/
/NonSequenceData/
/Persistence/
/Questionnairs/
/Software/
/SourceLocation/
/Subtypes/
/TimeTree/